* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

:root {
  --primary: #c00;
  --bgPrimary: black;
  --bgSecondary: #333;
}

html {
  font-size: 62.45%;
  caret-color: var(--primary);
  height: 100%;
}

body {
  display: flex;
  background-color: var(--bgPrimary);
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.infoDisplay,
.connect {
  background-color: var(--bgSecondary);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 40%;

  width: 60vw;
}
button {
  outline: none;
}
.infoDisplay span,
.connect span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#clientName,
#clientId,
input {
  flex: 1;
  margin-left: 12px;
  padding: 12px 12px;
  border: 1px solid #fff5;
  cursor: text;
  font-size: 2rem;
  outline: none;
  background-color: var(--bgPrimary);
}

.actionButton {
  padding: 12px 12px;
  align-self: center;
  cursor: pointer;
  font-size: 2.1rem;
  background-color: var(--primary);
}
.actionButton:disabled {
  background-color: rgb(87, 2, 2);
  color: #ddd4;
  cursor: initial;
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: stretch;
  }

  .infoDisplay,
  .connect {
    flex-basis: 50%;
    width: 100%;
  }

  .infoDisplay span,
  .connect span {
    display: flex;
    align-items: center;
  }

  .connect span {
    flex-direction: column;
  }

  #clientName,
  #clientId,
  .connect input {
    flex: 1;
    margin-left: 12px;
    padding: 12px 12px;
    border: 1px solid #fff5;
    cursor: text;
    font-size: 2rem;
    outline: none;
    background-color: var(--bgPrimary);
  }
}
